/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Início */

body {
	background: #005CA2;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

* {
	font-family: 'Roboto Condensed', sans-serif;
}

.clearfix {
	clear: both;
}

.topo {
	width: 100%;
	overflow: hidden;
	background: #FF9E01;
	text-align: center;
}

.topo .logo {
	width: 40%;
    margin-top: 15px;
}

.topo .curvas {
	width: 150%;
	margin: 0 0 0 -16%;
}

.conteudo {
	margin-top: -85px;
    width: 84%;
    background: #005CA2;
    padding: 0 8%;
}

.conteudo .tit {
	color: #fff;
	width: 95%;
    font-weight: 300;
    font-size: 21px;
    padding: 0 0 10px 10px;
    display: inline-block;
}

.conteudo .tit i {
	background-image: url(images/estrela.png);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    background-size: 90%;
    display: inline-block;
    float: left;
    margin: 0;
}

.conteudo .tit div {
	float: left;
	margin: 4px;
}

.conteudo .tit span {
	color: #fa9d1c;
}

.lista {
	width: 100%;
	margin-bottom: 40px;
}

.lista table {
	background-color: #FF9E01;
    height: 280px;
    overflow-y: scroll;
    padding: 0 15px;
    border-top: 20px solid #FF9E01;
    border-bottom: 20px solid #FF9E01;
    display: inline-block;
}

.lista tr td {
	padding: 10px 3px;
    border-bottom: 1px solid #fff;
    line-height: 18px;
    font-size: 15px;
    vertical-align: top;
    width: 100%;
    color: #005CA2;
}

.lista .enviadas tr td:first-child {
	
}

.lista tr td img {
	height: 20px;
    border: 1px solid #fff;
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.lista tr.editando td img.editar {
	background-color: #FF9E01;
}

.lista tr td span {display: inline-block;}
.lista tr td textarea {
	display: none;
    width: calc(100% - 16px);
    height: 70px;
    line-height: 16px;
    padding: 6px;
}
.lista tr.editando td span {display: none;}
.lista tr.editando td textarea {display: inline-block;}

.lista tr td .salvar {display: none;}
.lista tr td .editar {display: block;}
.lista tr.editando td .salvar {display: block;}
.lista tr.editando td .editar {display: none;}

.lista ul li.clicada {
	background-color: #7B186C;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
}


/* Confirmação */

.confirmacao {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.75);
	display: none;
	z-index: 6;
}

.confirmacao .modal {
	width: 60%;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: calc(-30% - 30px);
	background-color: #005CA2;
	border: 2px solid #fff;
	padding: 15px;
	border-radius: 8px;
	line-height: 19px;
}

.confirmacao .modal .botoes {
	text-align: center;
}

.confirmacao .modal .botoes div {
	display: inline-block;
	margin: 15px 5px;
	background-color: #FF9E01;
	color: #005CA2;
	padding: 12px 18px;
	cursor: pointer;
}


/* Limpar lista */

.limpar-lista {
    display: inline-block;
    background-color: #FF9E01;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px 12px;
    margin: 6px 0 20px;
    float: right;
    cursor: pointer;
}


@media (min-width: 770px) {

	.topo .logo {
		width: 25%;
	}

	.conteudo {
	    width: 80%;
	    padding: 0 10%;
	    margin: -25% auto 0;
	    position: relative;
	    z-index: 2;
	}

	.lista {
	    width: 46%;
	    margin: 0 2% 70px;
	    float: left;
	}

	.lista ul {
		height: 400px;
		padding: 0 20px;
	}

}


