/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Início */

body {
	background: #005CA2;
	font-family: 'Roboto Condensed', sans-serif;
	color: #fff;
}

* {
	font-family: 'Roboto Condensed', sans-serif;
}

.clearfix {
	clear: both;
}

.topo {
	width: 100%;
	overflow: hidden;
	background: #FF9E01;
	text-align: center;
}

.topo .logo {
	width: 100%;
}

.topo .curvas {
	width: 150%;
	margin: 0 0 0 -16%;
}

.conteudo {
	margin-top: -62px;
    width: 84%;
    background: #005CA2;
    padding: 0 8%;
}

.grupo {
	width: 100%;
    display: inline-block;
    margin-bottom: 8px;
}

.conteudo label {
	color: #fa9d1c;
	width: 95%;
    font-weight: 300;
    font-size: 21px;
    padding: 0 0 10px 10px;
    display: inline-block;
}

.login .input input {
	background-color: #fff;
    padding: 8px 14px;
    width: calc(100% - 34px);
    font-size: 18px;
    border: 3px solid #fa9d1c;
    border-radius: 6px;
    margin-bottom: 5px;
}

.conteudo .pergunta {
	background-color: #fff;
    padding: 8px 14px;
    width: calc(100% - 34px);
    height: 110px;
    border: 3px solid #fa9d1c;
    border-radius: 10px;
    color: #005CA2;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.conteudo .enviar {
	width: 100%;
    border-radius: 8px;
    text-transform: uppercase;
    border: 0;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
    background: #FF9D01;
    color: #005CA2;
    cursor: pointer;
}


.feedback {
	color: #FF9E01;
	z-index: 4;
	text-align: center;
	font-size: 23px;
	display: none;
}

.feedback div {
	display: inline-block;
}

.erro {
	position: fixed;
	bottom: 0;
	z-index: 6;
	width: 100%;
	padding: 20px;
	text-align: center;
	box-shadow: 0px -2px 5px #000;
	display: none;
}

/* Página de download */

.conteudo .texto {
	color: #fa9d1c;
	width: 95%;
    font-weight: 300;
    font-size: 21px;
    padding: 0 0 10px 10px;
    display: inline-block;
}

.conteudo .dispositivos a {
	width: 100%;
    height: 50px;
    background-color: #fa9d1c;
    color: #005CA2;
    font-weight: 700;
    font-size: 24px;
    margin-top: 13px;
    display: inline-block;
    text-decoration: none;
}

.conteudo .dispositivos a i {
	display: block;
	float: left;
	width: 36px;
	height: 36px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.conteudo .dispositivos a.android i {
	background-image: url(images/android.png);
    margin: 7px 12px;
}
.conteudo .dispositivos a.ios i {
	background-image: url(images/ios.png);
    margin: 7px 12px;
}
.conteudo .dispositivos a.outro i {
	background-image: url(images/outro.png);
    margin: 7px 12px;
}

.conteudo .dispositivos a span {
    margin: 12px 4px;
    float: left;
}

.conteudo .instrucoes {
	display: none;
	margin-top: -270px;
}

.instrucoes p {
	font-size: 17px;
    margin-top: 15px;
    line-height: 22px;
}



@media (min-width: 770px) {

	.topo .logo {
		width: 40%;
	}

	.conteudo {
	    width: 60%;
	    padding: 0 20% 12%;
	    margin: -25% auto 0;
	    position: relative;
	    z-index: 2;
	}

	.conteudo.login {
		width: 26%;
    	padding: 0 37% 15%;
	}

}


