body {
	margin: 0px;
	background-color: #325279;
}

#header {
	border: 0px solid #ffffff;
	text-align: center;
	color:#32527A;
	background-image:url("http://www.abcriacao.com/feedse/feedse_header.jpg");
	background-repeat: no-repeat;
	height:120px;
	width: 670px;
	top: 20px;
	position: absolute;
	left: 50%;
	margin-left: -335px;
}

#content {
	border: 0px solid #ffffff;
	color:#ffffff;
	background-color:#3c6291;
	width: 670px;
	position:absolute;
	top: 160px;
	left: 50%;
	margin-left: -335px;
	line-height: 1.4em;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	font-family: "Trebuchet MS", Arial;
	font-size: 14px;

}
#voltar {
	position: absolute;
	right: 15px;
	top: 5px;
}


h3 {
	margin:.25em 0 0;
	padding:0 0 4px;
	font-size:180%;
	font-weight:normal;
	line-height:1.4em;
	color:#ffffcc;
	font-family: "Trebuchet MS", Arial;
}

#content a {
	
	text-decoration:none;
	color:#ffffcc;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#content a img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;

}

#content a:hover {
	color:#ffffff;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFFFFF;
}

#breadcrumb {
	display:block;
	text-decoration:none;
	color:#ffffcc;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
input,textarea{
	font-family: "Trebuchet MS", Arial;
	font-size: 24px;
	border: 2px solid #FF9900;
	background-color: #FFFFFF;
	color: #325279;
	padding: 3px;
}
#content .foto {
	border: 2px solid #FFFFFF;
	padding: 3px;
}
#content .msg_enviada {
	font-size: 16px;
	text-align: center;
	color: #33CC99;
}
