/*
-------------------------------------------------------------------------
################################ CRÉDITOS ###############################

Site: 
Cliente: TVGI
Origem: Agência Kindle
Versão: 1.0

Desenvolvimento XHTML e CSS: 

--------------------------------------------------------------------------
*/


/* ############################### GLOBAL ############################# */

/* ---- Regras Gerais ---- */

* {margin:0; padding:0; outline:0; text-decoration:none; list-style-type:none;}

p {line-height:18px; margin:0 0 10px;}
img, fieldset {border:0;}
hr, h1 a span, h2 span, a span, .hide, legend, label span {display:none;}

.clear {clear:both !important;}
.noborder {border:0 !important;}
.nopadding {padding:0 !important;}
.nomargin {margin:0 !important;}
.nobg {background:none !important;}

body  {	font: 100% Verdana, Arial, Helvetica, sans-serif; background: #FFFFFF; text-align: center; font-size:11px; color: #666666; background:url(../images/bg-header-repeat.jpg) top repeat-x; }

#bg-top-content {background:url(../images/bg-top-content.png) top center no-repeat; width: 995px; height:14px; left:50%; margin:-294px 0 0 -498px; position:absolute;}

#master { width: 995px; margin:-280px auto 0 auto; text-align:left; background-color:#FFFFFF; height:1895px; }

#content-1-2 { float: right; width: 335px; background: #EBEBEB; padding: 15px 0 0 20px; background:url(../images/separador-home-vertical.jpg) left top no-repeat; }
#content-1-1 { margin: 0 0 0 0; padding: 0 0 0 15px; float:left; width:620px; } 


/*------HEADER--------*/

#header { background:url(../images/bg-header-repeat.jpg) top repeat-x; width:1004px; height:159px; margin:0 auto; text-align:left; }  
#header h1 {background:url(../images/logo-tvgi.png) left top no-repeat; width:284px; height:156px; position:absolute; margin:0; padding:0; }
#header h1 span {display:none;}
#header .noar { background:url(../images/bg-noar-header.png) bottom left no-repeat; width:651px; height:50px; position:absolute; margin:106px 0 0 329px;}
#header .noar img {float:left; margin:11px 0 0 31px;}
#header .noar .programa {float:left; font-size:15px; color:#e5e5e5; margin:17px 0 0 10px; letter-spacing:-0.7px;}
#header .noar ul.trocar {float:left; margin:17px 0 0 40px; }
#header .noar ul.trocar li {display:inline; padding-right:5px;}
#header .noar ul.trocar li:first-child {font-size:15px; color:#e5e5e5; letter-spacing:-0.7px; font-weight:bold;}
#header .noar ul.trocar li select {width:117px; color:#666666; background-color:#fdfeff; border:0; arrow-color:#fff;}
#header ul.menu2 {position:absolute; margin:32px 0 0 406px;}
#header ul.menu2 li {display:inline; color:#FFF;}
#header ul.menu2 li a {color:#FFFFFF; margin:0 10px; letter-spacing:-0.5px;}
#header ul.menu2 li a:hover {color:#CCDCE1;}
#header ul.redes-sociais-busca {position:absolute; margin:60px 0 0 416px;}
#header ul.redes-sociais-busca li {display:inline; padding-right:5px;}
#header ul.redes-sociais-busca li a {float:left; margin:0 10px 0 0;}
#header ul.redes-sociais-busca li input { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-style:italic; color:#999999; background:url(../images/bg-input-busca.png) left top no-repeat; width:230px; height:26px; border:0; margin:0; float:left; padding:4px 0 0 9px;}
#header ul.redes-sociais-busca li input:focus {font-style:normal; font-size:14px;}
#header ul.redes-sociais-busca li input[type="value"] {margin:5px 5px 5px 6px;}
#header .publicidade-home-header {position:absolute; margin:24px 0 0 786px;}


/*------WEBDOOR--------*/

#webdoor {background:url(../images/img-principal.jpg) top center no-repeat; height:640px; margin:0 auto;}
#webdoor #flashtvgi {margin:-30px 0 0 0;}
#webdoor #menu-principal {width:1004px; margin:0 auto;}
#webdoor #menu-principal ul {background:url(../images/bg-menu-principal.png) top left no-repeat; margin:0 0 0 338px; padding:13px 0 0 0; width:630px; height:51px;}
#webdoor #menu-principal ul li {display:inline; color:#FFFFFF; padding:0 5px 0 0;}
#webdoor #menu-principal ul li a {padding:0 0 0 5px;}
#webdoor #menu-principal ul li a span {display:none;}

#webdoor #menu-principal ul li.linha {background:url(../images/linha.jpg) left top no-repeat; width:2px; height:32px; display:block; float:left;}
#webdoor #menu-principal ul li a.item0 {background:url(../images/home.png) left top no-repeat; width:38px; height:32px; display:block; float:left; margin-left:20px;}
#webdoor #menu-principal ul li a.item0:hover { background:url(../images/home_on.png) left top no-repeat;}
#webdoor #menu-principal ul li a.item1 {background:url(../images/programas.png) left top no-repeat; width:96px; height:32px; display:block; float:left;}
#webdoor #menu-principal ul li a.item1:hover { background:url(../images/programas_on.png) left top no-repeat;}
#webdoor #menu-principal ul li a.item2 {background:url(../images/grade.png) left top no-repeat; width:174px; height:32px; display:block; float:left;}
#webdoor #menu-principal ul li a.item2:hover { background:url(../images/grade_on.png) left top no-repeat;}
#webdoor #menu-principal ul li a.item3 {background:url(../images/assine.png) left top no-repeat; width:119px; height:32px; display:block; float:left;}
#webdoor #menu-principal ul li a.item3:hover { background:url(../images/assine_on.png) left top no-repeat;}
#webdoor #menu-principal ul li a.item4 {background:url(../images/clube.png) left top no-repeat; width:96px; height:32px; display:block; float:left;}
#webdoor #menu-principal ul li a.item4:hover { background:url(../images/clube_on.png) left top no-repeat;}



/*----CONTENT-1-1-----*/

h2 span {text-indent:-1000px;}

.separador-home-1 {background:url(../images/separador-home-1.jpg) left top no-repeat; border:0; height:6px; width:448px; margin:20px 0 0 0;}

#content-1-1 #membros {width:622px; height:185px; margin:20px 0 20px 0; background:url(../images/bg-membros.jpg) right bottom no-repeat;}
#content-1-1 #membros .widget1 {float:left; margin:13px 0 0 5px;}
#content-1-1 #membros .widget2 {float:left; margin:13px 0 0 14px;}
#content-1-1 #blogs {width:622px; height:270px; margin:20px 0 20px 0; background:url(../images/bg-blogs.jpg) right bottom no-repeat;}
#content-1-1 #programacao,
#content-1-1 #ultimas-do-twitter {width:622px; margin:20px 0 0 0;}
#content-1-1 #publicidade-home-1 {width:622px; height:130px; margin:30px 0 0 0; background:url(../images/separador-home-1.jpg) left bottom no-repeat;}
#content-1-1 #publicidade-home-2 {width:622px; height:130px; margin:50px 0 0 0; background:url(../images/separador-home-1.jpg) left bottom no-repeat;}
#content-1-1 #membros h2 {background:url(../images/tit-membros.jpg) top left no-repeat; height:25px; width:241px;}
#content-1-1 #membros img {margin:10px 0 0 0;}
#content-1-1 #blogs h2 {background:url(../images/tit-blogs.jpg) top left no-repeat; height:28px; width:241px;}
#content-1-1 #blogs img {margin:10px 0 0 0;}
#content-1-1 #blogs .widget1 {float:left; margin:22px 0 0 0;}
#content-1-1 #blogs .widget2 {float:left; margin:22px 0 0 16px;}
#content-1-1 #programacao {width:622px; margin:20px 0 0 0; height:210px;}
#content-1-1 #programacao h2 {background:url(../images/tit-programacao.jpg) top left no-repeat; height:28px; width:241px;}
#content-1-1 #programacao .encontre-local {width:200px; height:105px; margin:10px 0 0 0; padding:75px 0 0 5px; background:url(../images/label-encontre-seu-local-aqui.jpg) left top no-repeat; float:left;}
#content-1-1 #programacao .encontre-local select {width:146px; margin:0 0 5px 10px; background-color:#e7e7e7; border:1px solid #8a8a8a; color:#aaaaaa; font-size:11px;}
#content-1-1 #programacao .programacao-destaque {float:right; width:416px; margin:5px 0 0 0;}
#content-1-1 #programacao .encontre-local p {width:146px; margin:0 0 5px 10px; line-height:13px;}
#content-1-1 #programacao .programacao-destaque ul.programacao-data-hora {width:58px; height:80px; float:left; margin:0 5px 0 0;}
#content-1-1 #programacao .programacao-destaque ul.programacao-data-hora li:first-child {display:block; width:58px; height:53px; background:url(../images/bg-data-hora-1.png) left top no-repeat; margin:0 0 2px 0; text-align:center;}
#content-1-1 #programacao .programacao-destaque ul.programacao-data-hora li:last-child {display:block; width:58px; height:24px; background:url(../images/bg-data-hora-2.png) left top no-repeat; text-align:center; padding:2px 0 0 0;}
#content-1-1 #programacao .programacao-destaque ul.programacao-data-hora li .dia {font-size:28px; color:#FFFFFF;}
#content-1-1 #programacao .programacao-destaque ul.programacao-data-hora li .mes {font-size:9px; color:#FFFFFF;}
#content-1-1 #programacao .programacao-destaque ul.programacao-data-hora li .hora {font-size:9px; color:#FFFFFF;}
#content-1-1 #programacao .programacao-destaque img {float:left; margin:0 10px 0 0;}
#content-1-1 #programacao .programacao-destaque .programacao-programa .subtitulo {font-size:16px; font-weight:bold; color:#47afdf;}
#content-1-1 #programacao .programacao-destaque .programacao-programa .botao span {display:none;}
#content-1-1 #programacao .programacao-destaque .programacao-programa .botao {background:url(../images/bot-veja-mais.png) left top no-repeat; width:70px; height:34px; float:left; margin:5px 0 0 0;}
#content-1-1 #destaques {width:622px; margin:20px 0 20px 0; height:420px;}
#content-1-1 #destaques h2 {background:url(../images/tit-destaques.jpg) top left no-repeat; height:28px; width:138px;}
#content-1-1 #destaques .destaques-direita {width:288px; height:193px; float:right; margin:20px 0 0 0; background:url(../images/bg-destaques.jpg) right bottom no-repeat;}
#content-1-1 #destaques .destaques-esquerda {width:288px; height:193px; float:left; margin:20px 0 0 0; background:url(../images/bg-destaques.jpg) right bottom no-repeat;}
#content-1-1 #destaques .destaques-direita a .subtitulo,
#content-1-1 #destaques .destaques-esquerda a .subtitulo {font-size:14px; font-weight:bold; color:#47afdf; margin:1px 0 0 0;}
#content-1-1 #destaques .destaques-direita a .texto,
#content-1-1 #destaques .destaques-esquerda a .texto {font-size:11px; color: #666666; margin:1px 0 0 0;}
#content-1-1 #ultimas-do-twitter h2 {background:url(../images/tit-ultimas-twitter.jpg) top left no-repeat; height:26px; width:213px;}
#content-1-1 #ultimas-do-twitter ul {margin:10px 0 0 0;}
#content-1-1 #ultimas-do-twitter ul li {display:block; width:580px;}
#content-1-1 #ultimas-do-twitter ul li img {float:left; margin:15px 10px 0 0;}
#content-1-1 #ultimas-do-twitter ul li .box {width:460px; border:1px solid #c1c1c1; margin:15px 0 0 0; padding:5px 25px 0 15px; float:left;}
#content-1-1 #ultimas-do-twitter ul li .box .texto {font-size:15px; font-weight:bold; font-style:italic; color:#565656;}
#content-1-1 #ultimas-do-twitter ul li .box .texto a {color:#999;}
#content-1-1 #ultimas-do-twitter ul li .box p.cabecalho a {font-size:10px; color:#b6b6b6; margin:0;}


/*----CONTENT-1-2-----*/

.separador-home-2 {background:url(../images/separador-home-2.jpg) center top no-repeat; border:0; height:6px; width:330px; margin:20px 0 0 0;}

#content-1-2 #publicidade-home-2,
#content-1-2 #video-em-destaque,
#content-1-2 #blogs-do-canal,
#content-1-2 #videos-clube,
#content-1-2 #widget-facebook,
#content-1-2 #enquete { margin:30px 0 0 0;}
#content-1-2 #video-em-destaque h2 {background:url(../images/tit-video-destaque.jpg) top left no-repeat; height:27px; width:226px; margin:0 0 15px 0;}
#content-1-2 #blogs-do-canal h2 {background:url(../images/tit-blogs-do-canal.jpg) top left no-repeat; height:26px; width:177px; margin:0 0 15px 0;}
#content-1-2 #blogs-do-canal .blog {margin:13px 0 0 0;}
#content-1-2 #blogs-do-canal .blog a p {font-size:16px; color: #666666; margin:1px 0 0 0; margin:0 0 7px 0; letter-spacing:-0.7px;}
#content-1-2 #blogs-do-canal .blog img {float:left; margin:0 10px 0 0;}
#content-1-2 #blogs-do-canal .blog a .subtitulo {font-size:12px; font-weight:bold; color:#47afdf; margin:1px 0 0 0;}
#content-1-2 #blogs-do-canal .blog a .descricao {font-size:11px; color: #666666; margin:1px 0 0 0;}
#content-1-2 #videos-clube h2 {background:url(../images/tit-videos.jpg) top left no-repeat; height:26px; width:213px; margin:0 0 15px 0;}
#content-1-2 #videos-clube div {margin:30px 0 0 0;}
#content-1-2 #enquete h2 {background:url(../images/tit-enquete.jpg) top left no-repeat; height:28px; width:113px; margin:0 0 15px 0;}
#content-1-2 #enquete input[type="radio"] {}
#content-1-2 #enquete p {color:#255f73; font-size:12px; font-weight:bold;}
#content-1-2 #enquete ul {margin:0; line-height:9px;}
#content-1-2 #enquete ul li {color:#505050; font-size:10px; margin:0; height:22px;}
#content-1-2 #enquete ul li label {margin:0;}
#content-1-2 #enquete a.botao {background:url(../images/bot-ver-resultado.png) left top no-repeat; width:89px; height:41px; margin:38px 0 0 0; float:left;}



/*----FOOTER-----*/

#footer-bg {width:100%; height:68px; background:url(../images/bg-footer.jpg) top repeat-x; margin:30px 0 0 0;}
#footer-bg .footer { position:absolute; width:1000px; left:50%; margin-left:-500px; height:28px;}
#footer-bg .footer p {letter-spacing:-0.5px; color:#FFFFFF; float:left; margin:25px 0 0 20px;}
#footer-bg .footer ul.menu {margin:25px 0 0 20px;}
#footer-bg .footer ul.menu li {display:inline; color:#FFF;}
#footer-bg .footer ul.menu li a {color:#FFFFFF; margin:0 10px; letter-spacing:-0.5px;}
#footer-bg .footer ul.menu li a:hover {color:#CCDCE1;}